/* Variables */
/* Global */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Inconsolata", monospace;
  color: #3E0C03;
  background-color: #1a1919;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 96px 0 96px 0;
  color: #ffffff;
}

.section-title {
  font-size: 48px;
  margin: 0 0 72px 0;
  color: #ffffff;
}

.element-title {
  font-size: 24px;
  margin: 0 0 12px 0;
}

.btn {
  min-width: 160px;
  margin: 24px auto 24px auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid;
  background-position: 100% 0;
  background-size: 300%;
  display: inline-block;
}

.btn:hover {
  background-position: 0 100%;
  color: #1a1919;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.steps-wrapper, .armies-wrapper, .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Navigation */
.navigation {
  background-color: #0c0a0a;
  padding: 12px 0 12px 0;
  text-transform: uppercase;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation ul li {
  display: inline-block;
  margin-left: 36px;
  position: relative;
}

.navigation ul li:hover ul {
  display: block;
}

.navigation ul li a {
  text-decoration: none;
  color: #A11A01;
  /*or light */
  text-align: center;
}

.navigation ul li a:hover {
  color: #ffffff;
  /*or shadow */
}

.navigation ul ul {
  display: none;
  position: absolute;
  background-color: #ffffff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 12px;
  z-index: 1;
}

.navigation ul ul li {
  display: block;
  margin-bottom: 12px;
}

.navigation ul ul a {
  color: #1a1919;
  display: block;
  padding: 0 24px;
}

.navigation ul ul a:hover {
  color: #A11A01;
}

/* Splash */
.splash {
  background-color: #0c0a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #A11A01;
  /*or light */
  min-height: 500px;
}

.splash .splash-inner {
  margin: auto;
  max-width: 70%;
}

.splash .splash-inner .page-title {
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2px;
  font-size: 100px;
  font-variant: small-caps;
  text-shadow: 0 0 10px #A11A01;
  /* or none */
  color: #ffffff;
  -webkit-transform: skew(10deg, -10deg);
          transform: skew(10deg, -10deg);
}

.splash .splash-inner .page-title:nth-of-type(2) {
  margin-left: 100px;
}

.splash .splash-inner .page-title span {
  font-size: 30px;
  vertical-align: super;
}

.splash .splash-inner .page-subtitle {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin: 44px 0;
}

.splash .splash-inner .btn-one {
  color: #A11A01;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #A11A01), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, #A11A01 50%, transparent 50%);
}

.splash .splash-inner .btn-one:hover {
  color: #ffffff;
}

/* Game Start */
.game-start {
  margin: 96px 0 96px 0;
  color: #ffffff;
}

.step {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  position: relative;
  font-family: "Inconsolata", monospace;
  padding: 0 12px 0 12px;
}

.step .number {
  position: absolute;
  font-size: 144px;
  color: #A11A01;
  opacity: 0.7;
  font-family: "Signika", sans-serif;
  top: -200px;
  z-index: -1;
}

.step p:first-of-type {
  font-weight: bold;
}

.step .btn-two {
  color: #B85300;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #B85300), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, #B85300 50%, transparent 50%);
}

.step .btn-two:hover {
  color: #1a1919;
}

.step .btn-three {
  color: #85b42d;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #85b42d), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, #85b42d 50%, transparent 50%);
}

.step .btn-three:hover {
  color: #1a1919;
}

.step .btn-four {
  color: #A11A01;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #A11A01), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, #A11A01 50%, transparent 50%);
}

.step .btn-four:hover {
  color: #1a1919;
}

/* Army Descrition */
.army {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 300px;
  margin: 0 0 96px 0;
}

.army .army-image {
  position: relative;
  left: 0;
  min-width: 250px;
}

.army .army-image::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 20px;
  left: 20px;
  background: #A11A01;
  opacity: 0.3;
}

.army .army-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.army .army-description {
  padding: 26px 0 26px 30px;
  text-align: left;
  min-width: 200px;
}

.army .army-description p:last-of-type {
  font-weight: bold;
}

.army .army-description .btn-five {
  color: #A11A01;
  background: none;
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
}

.army .army-description .btn-five:hover {
  color: #ffffff;
}

/* Contact */
.contact {
  background-color: #0c0a0a;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 0px;
          flex: 2 0 0;
  margin-right: 96px;
  min-width: 500px;
  max-width: 800px;
}

.contact form input, .contact form textarea {
  padding: 10px 20px 0 20px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  color: #ffffff;
  height: 50px;
  background-color: inherit;
  border-bottom: 3px solid #ffffff;
  border-top: none;
  border-right: none;
  border-left: none;
}

.contact form textarea {
  height: 200px;
}

.contact form .btn-six {
  margin-left: 0;
  background-color: #0c0a0a;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.contact form .btn-six:hover {
  color: #0c0a0a;
}

.adress {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.adress h3 {
  margin: 0;
}

.adress p {
  margin: 0 0 36px 0;
}

/* Links */
.footer {
  padding: 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1a1919;
}

.footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.footer .links li {
  font-size: 0;
}

.footer .links li a {
  text-decoration: none;
}

.footer .links li i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 60px;
  margin: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #A11A01;
  border-radius: 50%;
  color: #ffffff;
  font-size: 30px;
}

.footer .links li i:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* Media */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .splash .splash-inner:first-child {
    font-weight: 600;
    font-size: 80px;
  }
  .splash .splash-inner:first-child:nth-of-type(2) {
    margin-left: 80px;
  }
  .splash .splash-inner:first-child span {
    font-size: 20px;
  }
  .splash .page-subtitle {
    font-size: 14px;
  }
  .section-title {
    font-size: 38px;
  }
  .element-title {
    font-size: 20px;
  }
  .btn {
    padding: 13px;
    font-size: 15px;
  }
  .steps-wrapper, .armies-wrapper, .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .step {
    margin-bottom: 50px;
  }
  .step .number {
    font-size: 124px;
    opacity: 0.7;
    top: -170px;
  }
  .army {
    max-width: 100%;
    height: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form {
    margin-bottom: 50px;
  }
  form input, form textarea {
    width: 500px;
  }
}

@media (max-width: 575px) {
  .splash .splash-inner .page-title {
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0;
  }
  .splash .splash-inner .page-title:nth-of-type(2) {
    margin-left: 60px;
  }
  .splash .splash-inner .page-title span {
    font-size: 15px;
  }
  .splash .splash-inner .page-subtitle {
    font-size: 14px;
  }
  .army {
    margin: 10px;
  }
  input, textarea {
    width: 280px;
  }
}
/*# sourceMappingURL=style.css.map */